body{
background-color: yellow;
color: black;
margin: 0;
}


header{
backgound-color: #yellow;
color: black;
margin: 0;
padding: 15px 15px 15p 0px 15px;
}

header h1{
margin: 0;
display: inline-block;
}

nav ul{
margin: 0;
display: inline-block;
padding: 0 0 0 15px;
}

nav ul li{
background-color: yellow;
color: white;
list-style-type: none;
display: inline-block;
margin: 5px;
padding: 5px 15px;
}

div.row{

}

div.col{
background-color: #7567;
float: left;
margin: 1%;
padding: 1%;
width: 16%;
}

footer{
clear:both;
}