body{
background-color: yellow;
color: blue;
font-family: arial;
}

h1, h3, h6, p {
color: red
}

p {
color: brown;
padding: 20px 15px 10px 5px;
}

.blue{
color: blue;
background-color: white;
}

#special{
background-color: green;
}

p:hover{
background-color: red;
}

p::first-letter{
color: black;
}

li{
color: green;
}